.tournet {
    position: relative;
    
    
}

.tournet .tour {
    display: inline-block;
    vertical-align: middle;
    top: 50%;
}

.player {
    margin: 3px 10px;
    background-color: burlywood;
    padding: 5px;
    width: 150px;
    height: 15px;
    border: black 1px solid;
    display: inline-block;
    
  
}
 .pair {
     
 }
 .match-score {
    
    height: 15px;
    
    display: inline-flex;
}
.player-in-pair {
    display: flex;
}